@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Your Personal Task Manager</h1>

<p>This is the home page of your personal task manager application.</p>
<p>You can customize this page by editing the Index.cshtml file located in the Views/Home directory.</p>
